.HomePage .discover-header {
  display: flex;
  align-items: baseline;
}

.HomePage .filters-expand-button {
  height: 2rem;
  padding: 0 5px;
  border: 1px solid transparent;
  background-color: transparent;
}
.HomePage .filters-expand-button:focus {
  border: 1px solid black;
}

.HomePage .filters-verbose p {
  margin: auto;
}