.waveform-container {
  display: grid;
  background: rgb(40,40,40);
  grid-template-columns: 40px auto;
  align-items: center;
  border-radius: var(--radius);
  /* padding: 10px; */
}
.waveform-container button {
  /* width: 40px;
  height: 40px; */
  border: none;
  padding: 0;
  background-color: transparent;
}
.waveform-container button .pausebutton {
  color: rgb(255,0,0,.5);
}
.waveform-container button .playbutton {
  color: rgba(0,128,0,.5);
}
