.TuneResult {
  width: 80%;
  max-width: 40rem;
  margin-bottom: 20px;
  /* height: 13rem; */
  /* padding: 5px; */
  text-decoration: none;
  color: var(--bs-black);
  /* align-self: center; */
  /* border-radius: 10px; */
  cursor: pointer;
}
.TuneResult:hover {
  background-color: var(--bg-hover);
}

.TuneResult .tune-info {
  /* background: var(--bg-muted); */
  padding: 0 0 0 5px;
  align-items: baseline;
}

.TuneResult .add-to-tunebook {
  border: none;
  background: inherit;
  padding: 4px 0 5px 10px;
  color: var(--addbutton-muted);
}
.TuneResult .add-to-tunebook:hover {
  color: var(--addbutton);
  font-weight: 600;
}

.TuneResult .add-to-tunebook svg{
  padding-right: 3px;
}

.TuneResult .tune-filters {
  flex-shrink: 0;
}

.TuneResult .tune-filters .tune-in {
  padding: 0 3px;
}

.TuneResult .tune-filters button {
  height: 100%;
  max-height: 2.2rem;
  padding: 0 2px;
  border: 1px solid var(--border-muted);
  border-radius: 3px;
  background: inherit;
  font-weight: 600;
}
.TuneResult .tune-filters button:hover {
  background: var(--bg-tunetype);
}