:root {
  --border-muted: rgb(212, 212, 212);
  --bg-muted: rgb(212, 212, 212);
  --bg-hover: rgb(235, 235, 235);
  --bg-tunetype: rgb(79, 126, 214);
  --bg-keyletter: rgb(126, 97, 194);
  --bg-mode: rgb(96, 136, 83);
  --addbutton-muted: rgb(194, 97, 97);
  --addbutton: rgb(230, 50, 50);
  --text-muted: rgb(177, 177, 177);
}

body {
  margin: 0;
  padding-top: 60px;
  overflow-y: scroll;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
