.TuneBook .tune-selection {
  width: 25%;
  min-width: 250px;
}

.TuneBook .tune-item, .offcanvas-body .tune-item {
  cursor: pointer;
  text-decoration: none;
  color: var(--bs-black);
  width: 100%;
  border: 1px solid gray;
  margin: 5px;
  padding: 5px;
}
.TuneBook .tune-item.active, .offcanvas-body .tune-item.active {
  border: 2px solid red;
}

.TuneBook .TuneNotation {
  width: 100%;
}

